{% extends "publicgoods/base_generic.html" %}

{% block content %}

<h1 class="instance_name">{{ instance.instance_name }}</h1>

<br>

Parameters:
<div class="offset">
<ul>
    <li>Pot multiplier: {{ instance.pot_multiplier }}.</li>
    <li>Initial endowment: {{ instance.endowment }}.</li>
    <li>Maximum contribution: {{ instance.max_contribution }}.</li>
</ul>
</div>

{% if instance.available %}
Number of players participating so far: <strong>{{ number_responses }}</strong>.  
<br><br>

Refresh this page to see up-to-date participation information. <br><br>

End the game by <a href="{% url 'close_instance' instance.id %}">clicking here</a>.  Ending the game will prevent additional participation and will allow everyone to view anonymized results.  <br><br> 
{% else %}
Number of participants: <strong>{{ number_responses }}</strong>. <br><br>
{% endif %}

<br>

<table class="results">
	<tr class="resultis">
		<th class="results">Name</th>
		<th class="results">eid</td>
		<th class="results">Pseudonym</th>
		<th class="results">Contribution</th>
		<th class="results">Final Score</th>
		<th class="results"></th>
	</tr>

	{% for res in results %}
	<tr class="results">
		<td class="results">{{ res.player.name }}</td>
		<td class="results">{{ res.player.eid }}</td>
		<td class="results">{{ res.player.pseudonym }}</td>
		<td class="results">{{ res.player.contribution }}</td>
		<td class="results">{{ res.payout }}</td>
		<td class="results"><a href="{% url 'delete_response' instance.id res.player.id %}"><font size="-1">delete</font></a></td>
	</tr>
	{% empty %}
	<td class="results" colspan="6" style="text-align: center;">No players have joined the game.</td>
	{% endfor %}
</table>


{% endblock %}
